%h2 Edit profile

= form_for(resource, as: resource_name,
           url: registration_path(resource_name),
           html: { method: :put, multipart: true,
                   data: { controller: "avatar", turbo: false } }) do |f|

  .mb-3
    %label.form-label Avatar
    .d-flex.align-items-center.gap-3
      / 画像
      %div.avatar-preview
        - if resource.avatar.attached?
          = image_tag url_for(resource.avatar.variant(resize_to_fill: [240, 240])),
            class: "avatar-img",
            data: { action: "click->avatar#pick", avatar_target: "preview" }
        - else
          = image_tag "default-avatar.png",
            class: "avatar-img",
            data: { action: "click->avatar#pick", avatar_target: "preview" }

      / 非表示のファイル入力
      = f.file_field :avatar, class: "d-none",
        data: { avatar_target: "fileInput", action: "change->avatar#preview" }


  .mb-3
    = f.label :email, class: "form-label"
    = f.email_field :email, autocomplete: "username", class: "form-control form-narrow"

  .mb-3
    = f.label :password, class: "form-label"
    = f.password_field :password, autocomplete: "new-password", class: "form-control form-narrow"
    %small.form-text Leave blank if you don't want to change it.

  .mb-3
    = f.label :current_password, class: "form-label"
    = f.password_field :current_password, autocomplete: "current-password", class: "form-control form-narrow"

  = f.submit "Update", class: "btn btn-warning"

/ フォームの外！
.d-flex.justify-content-end.mt-3
  = button_to "Log out", destroy_user_session_path,
              method: :delete, class: "btn btn-outline-dark",
              form: { data: { turbo: false } }
