- liked = user_signed_in? && comment.liked_by?(current_user)
.d-flex.align-items-center
  - if user_signed_in?
    - if liked
      = button_to comment_like_path(comment),
                  method: :delete,
                  class: "p-0 border-0 bg-transparent d-flex align-items-center gap-1 text-danger",
                  form: { data: { turbo: false } } do
        %i.bi.bi-heart-fill.text-danger
      %span= comment.comment_likes.count
    - else
      = button_to comment_like_path(comment),
                  method: :post,
                  class: "p-0 border-0 bg-transparent d-flex align-items-center gap-1 text-muted",
                  form: { data: { turbo: false } } do
        %i.bi.bi-heart.text-muted
      %span= comment.comment_likes.count
  - else
    .d-flex.align-items-center.gap-1.text-muted
      %i.bi.bi-heart.text-muted
      %span= topic.likes.count

