.card.border-0.shadow-sm.mb-4
  .card-body
    .d-flex.justify-content-between.align-items-start
      %h3.card-title.mb-0= @topic.title
      .text-muted= @topic.created_at.strftime("%Y-%m-%d %H:%M")
    .text-muted.mb-2.mt-2
      %span.badge.text-muted.d-flex.align-items-center.gap-2
        - if @topic.user.avatar.attached? && @topic.user.avatar.blob.persisted?
          = image_tag @topic.user.avatar.variant(resize_to_fill: [45,45]), class:"rounded-circle"
        - else
          = image_tag "default-avatar.png", width:45, height:45, class:"rounded-circle"
        by #{@topic.user.email}
    .mt-3
      = simple_format @topic.body
    - if @topic.image.attached?
      .mt-3
        = image_tag @topic.image.variant(resize_to_limit: [1200, 1200]), |
          class:"img-fluid rounded"                                      |
    - if user_signed_in? && @topic.user == current_user
      .mt-3.d-flex.gap-2
        = link_to "Edit", edit_topic_path(@topic), class:"btn btn-warning"
        = button_to "Delete", @topic, method: :delete,            |
          class:"btn btn-outline-danger",                         |
          form: { data: { turbo_confirm: "Delete this topic?" } } |
    %div{ id: dom_id(@topic, :like_area) }
      = render "topics/like_button", topic: @topic


%h4.mb-3
  Comments (#{@comments.size})
.vstack.gap-3.mb-4
  - @comments.each do |c|
    .card.border-0.shadow-sm
      .card-body
        .d-flex.justify-content-between
          .text-muted
            %span.badge.text-muted.d-flex.align-items-center.gap-2
              - if c.user.avatar.attached? && c.user.avatar.blob.persisted?
                = image_tag c.user.avatar.variant(resize_to_fill: [45,45]), class:"rounded-circle"
              - else
                = image_tag "default-avatar.png", width:45, height:45, class:"rounded-circle"

              by #{c.user.email}
          .text-muted.small= c.created_at.strftime("%Y-%m-%d %H:%M")
        .mt-2= simple_format c.body
        %div{ id: dom_id(c, :like_area) }
          = render "comments/like_button", comment: c

        - if user_signed_in? && c.user == current_user
          .mt-2
            = button_to "Delete", topic_comment_path(@topic, c),     |
              method: :delete, class:"btn btn-outline-danger btn-sm" |
- if user_signed_in?
  .card.border-0.shadow-sm
    .card-body
      = form_with model: [@topic, @comment], local: true do |f|
        .mb-2
          = f.text_area :body, rows: 4, class:"form-control", |
            placeholder:"Write a comment..."                  |
        = f.submit "Post comment", class:"btn btn-warning"
- else
  .alert.alert-light.border Please log in to comment.
